<!DOCTYPE html>
<html>
    <head>
        <title>
            Setlist Editor
        </title>
        <link rel="stylesheet" type="text/css" href="./index.css"/>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    </head>
    <body>
        <div id="title">
            <h1>{{ message }}</h2>
        </div>
        <div id="opts">
            <label>Setlist : </label>
            <input v-model='selectedData.name'>
            <select v-on:change="onSelectedChanged" v-model="selected">
                <option disabled value="">Please select one</option>
                <option v-for="sl in sls" v-bind:value="sl.id">
                    {{ sl.name }}
                </option>
                <option>New</option>
              </select>
        </div>
        <div id="tbl">
            <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th v-for="(header, index) in headers" v-bind:key="index">
                        {{header}}
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(tune, index) in tunes" v-bind:key="tune.id">
                        <th>{{index + 1}}</th>
                        <td><input v-model='tune.name'></td>
                        <td>{{tune.id}}</td>
                        <td><input v-model='tune.time'></td>
                        <td><input v-model='tune.ref'></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="btnTblAddDelete">
            <select v-on:change="onSelectedChanged" v-model="selected">
                <option disabled value="">Please select one</option>
                <option v-for="tu in filterdTunes" v-bind:value="tu.id">
                    {{ tu.name }}
                </option>
                <option>New</option>
            </select>
            <button v-on:click="onAddTbl">Add</button>
            <button v-on:click="onDeleteTbl">Delete</button>
            <button v-on:click="onApplyTbl">Apply</button>
        </div>
    </body>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuidjs@4.2.11/src/uuid.min.js"></script>
    <script type="text/javascript" src="./data.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</html>